<h1>Recipe</h1>

<%= @recipe.Name %> <br>
<div id="cname"></div>
<div id="cpoints"></div>
<div id="cdc"></div>


<br>


<h1>------Inputs-----</h1>
<% @inputs.each do |input| %>
    <%= link_to "#{input.Name} #{input.Qty}", input_path(input.Name) %><br>
<% end %>

<h1>------Outputs-----</h1>
<% @outputs.each do |output| %>
    <%= "#{output.Name} #{output.Qty}"%><br>
<% end %>

<h1>------Feats-----</h1>
<% @feats.each do |feat| %>
    <%= "#{feat.Feat}"%><br>
<% end %>

<h1>------Skills-----</h1>
<% @skills.each do |skill| %>
    <%= "#{skill.Skill} #{skill.Rank}"%><br>
<% end %>

<h1 id="clevel"></h1>
<div id='cclass'></div>

<h1>-----Settings--------</h1>
<div id='csettings'></div>

<h1>------Races-----</h1>
<div id='craces'></div>

<%= javascript_tag do -%>
  window.onload = LoadJS();
  function LoadJS(){
    document.getElementById('cname').innerHTML = "Skill: " + craftName(<%= @recipe.Skill %>);
    document.getElementById('cpoints').innerHTML = "Points: " +craftPoints(<%= @recipe.Points %>, <%= @recipe.Value %>);
    document.getElementById('cdc').innerHTML = "DC: " + craftDC(<%= @recipe.DC %>, <%= @recipe.Value %>);
    document.getElementById('clevel').innerHTML =  "------Classes (Level: " + classLevel(<%= @recipe.Class_Level %>) + ")-----";
    document.getElementById('cclass').innerHTML = listClass(<%= @recipe.Class %>);
    document.getElementById('csettings').innerHTML = listSettings(<%= @recipe.Settings %>);
    document.getElementById('craces').innerHTML = listRace(<%= @recipe.SubRace %>);
  }
<% end %>
